.featured-movies {
    padding: 20px 60px;
  }
  .featured-movie-heading{
    font-size:36px;
    font-weight: 700;
  }
  .seemore-movies{
   color: var(--rose-700, #BE123C);
   font-size:18px;
  }
  .featured-heading {
    display: flex;
    justify-content: space-between;
  }

  .spinner{
    text-align:center;
    margin: auto;
  }
  
  
  
  
  