

.movie-details-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 220px; /* Add margin to the left to create space for the sidebar */
}

.custom-about-content {
  padding: 15px 30px;
  width: 100%;
}

.custom-about-screen {
  width: 100%;
  height: 55vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-about-screen img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  object-fit: cover;
}

.custom-about-play {
  color: #e0d5d5;
  position: absolute;
  text-align: center;
}

.custom-about-play button {
  border: 0;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background: #999;
  cursor: pointer;
}

.custom-load-center {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-about-play button img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.custom-about-play p {
  padding-top: 5px;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: bold;
}

.custom-about-details {
  margin-top: 20px;
  padding: 0 25px;
}

.custom-ab-heading {
  display: flex;
  width: 65%;
  justify-content: space-between;
  align-items: center;
}

.custom-ab-heading ul {
  display: flex;
  width: 200px;
  justify-content: space-between;
  font-weight: 600;
  color: #222;
}

.custom-ab-heading p {
  font-size: 14px;
  font-weight: bold;
  color: rgb(211, 23, 211);
  border: 0.1px solid pink;
  border-radius: 15px;
  padding: 10px 20px;
}

.custom-about-data {
  padding: 0 25px;
  width: 100%;
  display: grid;
  grid-template-columns: 70% 30%;
}

.custom-about-data .left {
  display: block;
  margin-top: 15px;
}

.custom-about-data .left p {
  padding-bottom: 5px;
}

.custom-director {
  margin-top: 5px;
}

.custom-director p {
  font-size: 17px;
}

.custom-director p span {
  color: rgb(255, 0, 221);
  font-size: 15px;
}

.custom-top-rated {
  margin-top: 10px;
}

.custom-top-rated button {
  width: 220px;
  height: 40px;
  color: #fff;
  border: none;
  border-radius: 6px;
  outline: none;
  background: rgb(207, 19, 166);
  letter-spacing: 1px;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .custom-ab-heading {
      width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .custom-sidebar {
      display: none;
  }
  .custom-about-container {
      position: relative;
      width: 100%;
      margin-left: 0;
  }
  .custom-about-content {
      padding: 15px 30px;
      width: 3px solid black;
  }
}

@media screen and (max-width: 600px) {
  .custom-about-data {
      grid-template-columns: 100%;
  }
  .custom-about-content {
      padding: 5px 10px;
      width: 3px solid black;
  }
  .custom-about-details {
      padding: 0;
  }
  .custom-ab-heading p {
      display: none;
  }
}
